/* Global */
.orange-background {
  background: linear-gradient(to right,#f58322 0,#ffcb13 100%);
}

.outer-container {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}

.inner-container {
  display: flex !important;
  align-items: center !important;
}

.body-row, .navigation-row {
  margin: 0 !important;
}

.body-row {
  height: 100% !important;
  margin-top: -50px !important;
  padding-top: 50px !important;
  color: #785f5f !important;
}

.w-100{
  width: 100%;
}

.vertical-center {
  min-height: 100%;
  display: flex !important;
  align-items: center !important;
}

/* Navigation bar */
.navbar-default {
  border: 0;
  border-radius: 0;
  margin: 0;
  font-weight: 600;
}

.navbar-default .navbar-nav > li > a {
   color: #222;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #f2f2f2;
}

/* Buttons */
.orange-button-primary {
  background-color: #FAAB1A !important;
  border-color: #FAAB1A !important;
  color: #222 !important;
  border-radius: 0 !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

.orange-button-primary > span {
  top: 2px;
}

.orange-button-primary:hover, .orange-button-primary:focus, .orange-button-primary:active {
  background-color: #ffcb13 !important;
  border-color: #ffcb13 !important;
  color: #f2f2f2 !important;
}

.orange-btn-secondary {
  background-color: #FAAB1A !important;
  border-color: #FAAB1A !important;
  color: #222 !important;
  border-radius: 0 !important;
}

.orange-btn-secondary:hover, .orange-btn-secondary:focus, .orange-btn-secondary:active {
  background-color: #ffcb13 !important;
  border-color: #ffcb13 !important;
  color: #f2f2f2 !important;
}

.orange-btn-secondary > span {
  top: 2px;
}

.step-container{
  margin-top: 20px;
}

/* Forms */
.form-row em {
  color: #c15d54;
}

.form-row {
  padding: 8px !important;
}

.form-row .text-left {
  padding-left: 0;
}

.form-input{
  border: 1px solid #FAAB1A;
  height: 25px;
  min-width: 50px;
}
